body{
	background-color: black;
	color: white;
}

h1{
	border-top: dotted; /* style of the border on the top part (dotted)*/
	border-bottom: dotted;
	border-left-style: solid; /* style of the left side of the border, solid line*/
	border-left-width: 10px;	/* px, also known as pixels*/
}

p{
	padding: 5px;
	border-style: solid;
	border-style: dashed;
	border-style: dotted;
	border-style: double;
	border-style: ridge;
	border-style: groove;
	border-style: inset;
	border-style: outset;
	border-width: 3px;	/*gano kalapad*/
	border-color: #00ff00;
	border-radius: 10px;	/*border raduis, for round edges*/
}
