h1{
	background-color:#111111; /* colors the background of the text*/
	color:aquamarine;  /*text color*/
}
p{
	background-color:#111111;
	color:antiquewhite;
}
body{
	background-color:#111111;
}
