#phar1{
	font-family: "MV Boli"; /* Main font */
}
h1{
	font-family:"Lucida Console";
	font-style: italic; /* slanted text*/
	font-weight: bold;	/*font weight, or kung gaano kakapal yung sulat*/
	font-size: 25px;
	text-decoration: underline;	/*additional text decoration*/
	color: mediumaquamarine;

}
