ul{
	list-style-type: none;	/*removing the list style, or the bullets */
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	background-color: #444444;
}
li a{
	float: left;	/*floats to the left*/
	display: block;		/*displays as a block element*/
	color: whitesmoke;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	border-right: 1px solid black;
	min-width: 60px;
}
li a:hover{
	background-color: #222222;
	animation: Glow;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

@keyframes Glow{
	50%{text-shadow: 0px 0px 10px aquamarine;}
}
